# Go Defaults
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Binary
terraform-provider-sonarcloud
bin/
dist/

# Prevent commiting test-variables and Terraform state
*.tfvars
*.tfstate*
.terraform
.terraform.lock.hcl
.envrc

# Debug output
*.log

# VSCode files
**/.vscode/**