# Go Defaults
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Binary
terraform-provider-sonarcloud
bin/

# Prevent commiting test-variables and Terraform state
*.tfvars
*.tfstate*
.terraform
.terraform.lock.hcl

# Debug output
*.log